GSE61533_HTSEQ_count_results.xls
GSE61533_HTSEQ_count_results.xls.gz
GSE29087_L139_expression_tab.txt.gz
brain_cor.tsv
brain_data.rds
brain_heat.pdf
brain_hvg.tsv
brain_marker_1.tsv
counttable_es.csv
expression_mRNA_17-Aug-2014.txt
expression_mito_17-Aug-2014.txt
expression_spikes_17-Aug-2014.txt
figure/
hsc_cor.tsv
hsc_data.rds
hsc_hvg.tsv
mesc_data.rds
nbt.3102-S7.xlsx
old.md
th2_data.rds
workflow.html
workflow.md

submissions/braincyclepca-1.png
submissions/controlplotbrain-1.png
submissions/controlplothsc-1.png
submissions/deboxplotmesc-1.png
submissions/deboxplotmescbulk-1.png
submissions/diffusionth2-1.png
submissions/geneplothsc-1.png
submissions/heatmapbrain-1.png
submissions/heatmaphsc-1.png
submissions/heatmapmarkerbrain-1.png
submissions/hvgboxplotbrain-1.png
submissions/hvgboxplothsc-1.png
submissions/hvgboxplotmesc-1.png
submissions/hvgboxplotmescbulk-1.png
submissions/hvgplotbrain-1.png
submissions/hvgplothsc-1.png
submissions/libplotbrain-1.png
submissions/libplothsc-1.png
submissions/normplotbrain-1.png
submissions/normplothsc-1.png
submissions/normplotspikehsc-1.png
submissions/normplotspikemef-1.png
submissions/pca2plotbrain-1.png
submissions/pca3plotbrain-1.png
submissions/pcacorplothsc-1.png
submissions/pcaplotbrain-1.png
submissions/pcaplothsc-1.png
submissions/pcaplotth2-1.png
submissions/pcaqualplothsc-1.png
submissions/pcareduxhsc-1.png
submissions/phaseplotbrain-1.png
submissions/phaseplothsc-1.png
submissions/phaseplotth2-1.png
submissions/tsneplotbrain-1.png
submissions/tsneplothsc-1.png
submissions/workflow.aux
submissions/workflow.bbl
submissions/workflow.bcf
submissions/workflow.blg
submissions/workflow.log
submissions/workflow.out
submissions/workflow.pdf
submissions/workflow.run.xml
submissions/workflow.tdo
submissions/workflow.tex
