*.xls*
*.txt.gz
*.tsv.gz
*.pdf
*.csv
*.rds
*.tsv
*.html
*.txt
*.xlsx

*.bbl
*.aux
*.blg
*.log

workflow.Rmd
existing/

bioc/.BBSoptions
bioc/.svn/
bioc/figure/
bioc/ref.bib
bioc/workflow.md

submissions/Figure*.png
submissions/workflow.*

